@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,500&family=Poppins:wght@100;200;400;600&family=Work+Sans:ital,wght@0,400;0,600;1,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* colors */
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
    font-family: 'Archivo', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

h1{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
    color: var(--dark-purple)
}
h4{
    font-size: 1rem;
}
p{
    font-size: 0.9rem;
}
.question-sec{
    background-color: var(--light-pink);
    background-image: url(./assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 1.5rem;
}
.section-center{
    border-radius: 10px;
    background-color: var(--white);
    padding: 0 1.5rem;
    font-family: 'Work Sans', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.main-title {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.icon-star{
    width: 20px;
    margin-right: 1rem;
}

.question-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.8px;
    color: var(--dark-purple);
    padding: 1rem 0;
}
.question-title h4:hover{
    cursor: pointer;
    color: hsl(273, 98%, 60%);
}
.question-btn{
    background: transparent;
    border-color: transparent ;
    cursor: pointer;
}
.hr{
    display: block;
    border-bottom: 1px solid hsl(275, 100%, 97%);
}
.question-text{
    color: var(--grayish-purple);
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
/* hide text */
.question-text{
    display: none;
}
.show-text .question-text{
    display: block;
}
.minus-icon{
    display: none;
}
.show-text .minus-icon{
    display: inline;
}
.show-text .plus-icon{
    display: none;
}

@media(min-width: 480px) {
    .question-sec{
        background-color: var(--light-pink);
        background-image: url(./assets/images/background-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .section-center{
        max-width: 500px;
    }
}

